.view-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.view-content{
    background-color: black;
    border: 2px solid white;
    width: 40vw;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-self: center;
    justify-self: center;
}