div{
  text-align: center;
}

body{
  background-color: #2F2F2F;
  color: white;
}



::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;
}